<div class="container">
  <div class="tweet col-lg-4" ng-repeat="t in tweetsCtrl.tweets | orderBy: '-tweetedAt'">
    <a target="_blank" ng-href="https://twitter.com/sample/status/{{t.tweetId}}">
      <div class="well col-lg-12 m-b-10 height-fixed">
        <p>Tweet Id : <span ng-bind=t.tweetId></span></p>
        <p>Popularity Count : <span ng-bind=t.popularTag.count></span></p>
        <p>Tweeted At : <span ng-bind=new Date(t.tweetedAt)></span></p>
        <p>Follower Count : <span ng-bind=t.followerCount></span></p>
        <p style="height:90px">Text : <span ng-bind=t.text></span></p>
        <div class="pull-right">
          <span class="glyphicon glyphicon-arrow-left"></span>
          <span class="glyphicon glyphicon-refresh"></span>
          <span class="glyphicon glyphicon-envelope"></span>
          <span class="glyphicon glyphicon-share"></span>
        </div>
        <p ng-if="tweetsCtrl.new_tweets.indexOf(t.tweetId)>=0">New tweet</p>
      </div>
    </a>
  </div>
</div>
