<div class="container tweet-container">
  <div class="col-lg-4 height-fixed" ng-repeat="t in tweetsCtrl.tweets">
    <div class="tweet well col-lg-12">
      <p>
        <strong>Tweet Id : </strong>
        <a target="_blank" ng-href="https://twitter.com/sample/status/{{t.tweetId}}">
          <span ng-bind=t.tweetId></span>
        </a>
      </p>
      <p><strong>Occurance : </strong><span ng-bind-template="{{t.popularTag.count}} ({{t.popularTag.name}} in last 6hrs)"></span></p>
      <p>
        <strong>Tweeted By : </strong>
        <a target="_blank" ng-href="https://twitter.com/{{t.screenName}}">
          <span ng-bind-template="@{{t.screenName}}"></span>
        </a>
      </p>
      <p><strong>Followers : </strong><span ng-bind=t.followerCount></span></p>
      <p><strong>Tweeted At : </strong><span>{{t.tweetedAt|date:'short'}}</span></p>
      <p class="tweet-text"><strong>Tweet : </strong><span ng-bind=t.text></span></p>
      <div class="pull-right">
        <div class="reply-icon pull-left cursor"></div>
        <div class="retweet-icon pull-left cursor"></div>
        <div class="mail-icon pull-left cursor"></div>
        <div class="share-icon pull-left cursor"></div>
        <div class="follower-icon pull-left cursor"></div>
        <!-- <span class="glyphicon glyphicon-arrow-left"></span>
        <span class="glyphicon glyphicon-retweet"></span>
        <span class="glyphicon glyphicon-envelope"></span>
        <span class="glyphicon glyphicon-share"></span>
        <span class="glyphicon glyphicon-user-follow"></span> -->
      </div>
      <p ng-if="tweetsCtrl.new_tweets.indexOf(t.tweetId)>=0">New tweet</p>
    </div>
  </div>
</div>
